.pessoa__imagem{
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    height: 300px;
    margin: 0 auto;
    width: 300px;


}

.pessoa__imagem_roberta{
    background-image: url(../../img/pessoas/roberta.jpg);
}
.pessoa__imagem_marcela{
    background-image: url(../../img/pessoas/marcela.jpg);
}
.pessoa__imagem_andreia{
    background-image: url(../../img/pessoas/andreia.jpg);
}