@import url('base/normalize.css');
@import url('base/reset.css');

@import url('cabecalho/cabecalho.css');
@import url('../../assets/css/cabecalho/logo/logo.css');
@import url('../../assets/css/cabecalho/menu/menu.css');
@import url('../../../assets/css/cabecalho/menu/__lista/menu__lista.css');
@import url('../../../assets/css/cabecalho/menu/__lista/__item/menu__item.css');
@import url('../../assets/css/cabecalho/menu/__lista/__item/__link/menu__link.css');
@import url('../../assets/css/cabecalho/menu/__lista/__item/-ativo/menu_ativo.css');

@import url('sobre/sobre.css');
@import url('sobre/__titulo/sobre__titulo.css');
@import url('sobre/__descricao/sobre__descricao.css');

@import url('banner/banner.css');
@import url('banner/__imagem/banner__imagem.css');
@import url('banner/__titulo/banner__titulo.css');

@import url('receitas/receitas.css');
@import url('receitas/receita/receita.css');
@import url('receitas/receita/__imagem/receita__imagem.css');
@import url('receitas/receita/__conteudo/receita__conteudo.css');
@import url('receitas/receita/__conteudo/__titulo/receita__titulo.css');
@import url('receitas/receita/__conteudo/__descricao/receita__descricao.css');
@import url('receitas/receita/botao/botao.css');
@import url('receitas/receita/botao/-hover/botao_hover.css');

@import url('quem.somos/quem-somos.css');
@import url('quem.somos/__descricao/quem-somos__descricao.css');
@import url('quem.somos/__titulo/quem-somos__titulo.css');

@import url('quem.somos/pessoas/pessoas.css');

@import url('quem.somos/pessoas/pessoa/pessoa.css');
@import url('quem.somos/pessoas/pessoa/__funcao/pessoa__funcao.css');
@import url('quem.somos/pessoas/pessoa/__nome/pessoa__nome.css');
@import url('quem.somos/pessoas/pessoa/__imagem/pessoa__imagem.css');
@import url('quem.somos/pessoas/pessoa/__imagem/-andreia/pessoa__imagem_andreia.css');
@import url('quem.somos/pessoas/pessoa/__imagem/-marcela/pessoa__imagem_marcela.css');
@import url('quem.somos/pessoas/pessoa/__imagem/-roberta/pessoa__imagem_roberta.css');

@import url('rodape/rodape.css');
