.receita{
    background-color: #fdfdfd;
    border: 1px solid #C4C4C4;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width:0){
    .receita{
        width: 100%;
    
    }
}
@media screen and (min-width:768px){
    .receita{
        transition: .3s all cubic-bezier(0.165, 0.84, 0.44, 1);
        width: 286px;
    }
    .receita:hover{
        border-radius: 5px;
        box-shadow: 0 10px 25px #0000003c;
        scale: 1.1;
        transition: .3s all cubic-bezier(0.165, 0.84, 0.44, 1);
        
    }
    .receita img{
        transition: .3s all cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    .receita:hover img{
        border-radius: 5px;
        scale: .9;
        transition: .3s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
}